<!DOCTYPE html>
<html lang="en">
<% include partials/_header %>

<div class="wrapper">
<h1>Presto!</h1>
<a href="<%= longURL %>" class="special"><%= newShortURL %></a><br>

<!-- <h4>It will take you to:</h4>
<a href="<%= longURL %>"><%= longURL %></a>
 -->

<form method="POST" action=<%=`/urls/${newShortURL}`%>>
<input class="textField" id="updateField" type="text" name="updateField" placeholder="<%= longURL %>"><br>
<input class="button" type="submit" value="Update"></p>
</form>

<a href="/urls/new">Shorten another URL</a></p>
<a href="/urls">See my URLs</a>

</div>
</body>
</html>